<form>
    <h2>UPDATE CAR</h2>
    <div class="form-group w-50" *ngIf="brands | async as brands">
        <label>BRAND:</label>
        <select (change)="getBrand($event)">
            <option disabled selected>Select a brand</option>
            <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
        </select>
    </div>
    <div class="form-group w-50" *ngIf="countries | async as countries">
        <label>COUNTRY:</label>
        <select (change)="getCountry($event)">
            <option disabled selected>Select a country</option>
            <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
        </select>
    </div>
    <div class="form-group w-50">
        <label>REGISTRATION:</label>
        <input type="text" class="form-control" name="registration" [(ngModel)]="registration">
    </div>
    <div class="form-group w-50">
        <label>CREATED AT:</label>
        <input type="text" class="form-control" name="createdAt" [(ngModel)]="createdAt">
    </div>
    <div class="form-group w-50">
        <label>LAST UPDATED:</label>
        <input type="text" class="form-control" name="lastUpdated" [(ngModel)]="lastUpdated">
    </div>
    <button type="submit" class="btn btn-primary" (click)="updateCar()">UPDATE CAR</button>
</form>