<table class="table" *ngIf="car | async as car">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">BRAND</th>
            <th scope="col">COUNTRY</th>
            <th scope="col">CREATED AT</th>
            <th scope="col">LAST UPDATED</th>
            <th scope="col">REGISTRATION</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{car.id}}</th>
            <td>{{car.brand.name}}</td>
            <td>{{car.country.name}}</td>
            <td>{{car.createdAt}}</td>
            <td>{{car.lastUpdated}}</td>
            <td>{{car.registration}}</td>
            <td (click)="deleteCar()">DELETE</td>
            <td (click)="updateCar()">UPDATE</td>
        </tr>
    </tbody>
</table>